.no-margin {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.row-space {
    margin: 4% 0;
}

.row-card {
    margin-top: 8%;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 0;
    width: 100%;
}

.card-body {
    margin: 0;
    margin-top: 4%;
    padding: 0;
}

.card-price{
    text-decoration: none;
    color: #282828;
}

.card-price:hover{
    text-decoration: underline;
    color: #eab245;
}

.jumbo-header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position-y: 80%;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.header-caption{
    margin-top: 20%;
    margin-left: 5%;
    overflow: hidden;
}

.header-caption h1{
    font-size: 5em;
}

.header-caption p{
    font-size: 2em;
}

.row-header {
    color: #282828;
    height: 5em;
    width: 100%;
    z-index: 2;
    position: fixed;
    background-color: #ffffff;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    color: #707070;
}

.navbar-brand:hover{
    color: #282828;
}

.navbar-right,
.navbar-left {
    z-index: 3;
}
.nav a {
    font-size: 14pt;
    color: #707070;
}

.nav a:hover {
    color: #282828;
}

.middlein {
    position: relative;
    top: 0.5em;
}

.invisible-div {
    height: 96vh;
}

footer {
    background-color: #282828;
}

.for-footer {
    color: #cecece;
}

.for-footer .nav a {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.for-footer .nav a:hover {
    color: white;
}

#quantityNum {
    color: #eab245;
}