body { 
	margin: 0;
	font-family: Arial;
}

.form-contain{
	position: relative;
	top: 5em;
}

.sign-in{
	text-align: center;
	margin-top: 10%;
	color: #282828;
}

.email-cont{
	margin-top: 10%;
}

div.inline { 
	float:left; 
}

.btn-in{
	width: 50%;
	background-color: #282828;
	color: white;
}

.btn-in:hover{
	background-color: #eab245;
	color: white;
}

.btn-link{
	color: #282828;
	text-decoration: none;
}

.btn-link:hover{
	color: #eab245;
}


