.upper-text{
	margin-top: 30%;
}

#accMenu{
	margin-top: 10%;
	text-decoration: none;
	margin-bottom: 30%;
}

figcaption{
	color: #282828;
}

figcaption:hover{
	color: #eab245;
	text-decoration: underline;
}

.link-on{
	text-decoration: none;
}

.link-on:hover{
	text-decoration: none;
}